{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Рыболовные соревнования{% endblock %}</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    
    <!-- Основной CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Рыболовный Клуб</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link">Вы вошли как: {{ user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_list_registr' %}">Пользователи для Регистрации</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_list_change' %}">Пользователи для изменения профиля</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'unpublished_catches' %}">Улов Пользователей</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Войти</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <main class="py-4">
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-dark text-white text-center py-3">
        <p class="mb-0">&copy; 2025 Соревнования по рыбалке</p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
